<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ProvidersConnectionString" connectionString="server=127.0.0.1;User Id=root;database=new_providers;Password=rootwdp;Persist Security Info=True;Pooling=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DbLibraryConnectionString" connectionString="server=127.0.0.1;User Id=root;database=dblibrary;Password=rootwdp;Persist Security Info=True;Pooling=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MyAppConnectionString" connectionString="server=127.0.0.1;User Id=root;database=rdms;Password=rootwdp;Persist Security Info=True;Pooling=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>