.nasform {
  margin-left: 20px;
}
.nasform table {
  margin: auto;
  min-width: 500px;
  width: 70%;
}
.nasform table .caption {
  width: 120px;
}
.nasform table .buttons {
  text-align: right;
}
.nasform table .buttons input {
  width: 80px;
}
.nasform input {
  width: 100%;
}
.nasform select {
  width: 100%;
  height: 25px;
}
